*{
  padding: 0;
  margin: 0;
}

.Container{
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 80px auto;
  grid-template-areas: "Topo Topo Topo" "Lado-esq corpo Lado-dir";
  height: 100vh;
  border: solid 5px black;
  padding: 10px;
  margin: 10px
}


.Topo{
  grid-area: Topo;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: lightblue;
}

.Lado-esq{
  grid-area: Lado-dir;
  display: flex;
  color: white;
  background-color: lightgreen;
  align-items: center;
  justify-content: center;
}

.Lado-dir{
  grid-area: Lado-esq;
  display: flex;
  background-color: lightsalmon;
  color: white;
  align-items: center;
  justify-content: center;
}

.corpo{
  grid-area: corpo;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.imagens{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}

.imagens img{
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
}

@media (max-width: 900px) {
    .Container {
        grid-template-columns: 150px 1fr;
        grid-template-areas: "Topo Topo" "Lado-esq Lado-esq" "corpo corpo" "Lado-dir Lado-dir";
    }
}

@media (max-width: 600px) {
    .Container {
        grid-template-columns: 1fr;
        grid-template-areas: "Topo" "corpo" "Lado-esq" "Lado-dir";
    }

    .imagens {
        grid-template-columns: 1fr;
    }
}